{{!-- Header --}}
<div id="header" class="position-fixed top-0 w-100 bg-light">
    <div class="container" style="max-width:1200px ;">
        <!-- nav bar -->
        <nav class="navbar navbar-expand-lg hei-88">
            <div class="container-fluid px-0">
                <a class="navbar-brand logo  py-0" href="/client">ABC Delivery</a>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <!-- <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="#">Home</a>
                            </li> -->

                    </ul>
                    <div class="d-grid gap-2 d-md-flex justify-content-md-end">

                        {{#Logout}}
                        <form class="d-flex" method="post" action="/client/login">
                            <button class="btn btn-outline-success" type="submit" name="submitButton"
                                value="temp">Logout</button>
                        </form>
                        {{/Logout}}
                        {{#Login}}
                        <a class="btn btn-outline-success" type="submit" href="/client/login">Login/ Sign up</a>
                        {{/Login}}

                    </div>

                </div>

            </div>
        </nav>
    </div>
</div>
<!-- Main -->
<div id="main" class="">

    <div class="container" style="max-width:1200px; 
                                min-height: 450px;
                                margin-bottom: 32px;
                                margin-top: 120px;">
        <!-- start list-items -->
        <div class="d-flex justify-content-center">
            <ol class="list-group list-group-numbered w-50 d-flex flex-column pe-3">
                <h4 class="py-2">Your order</h4>
                {{#each foodOrder}}
                <li class="list-group-item d-flex justify-content-between
                            align-items-start border-none p-0 mb-3 border-bottom-custom-2">
                    <div class="ms-2 me-auto">
                        <div class="fw-bold">{{Food_Name}}</div>
                        {{Price}}
                    </div>
                    <span class="badge bg-info rounded-pill">{{Quantity}}</span>
                </li>
                {{/each}}
                <div class="d-flex justify-content-end">
                    <div class="px-2">Tổng tiền: </div>
                    {{sumMoney}}
                    <div class="px-2">VNĐ</div>
                </div>

            </ol>
            <ol class="list-group list-group-numbered w-50 d-flex flex-column ps-3">
                <form>
                    <h4 class="py-2">Shipment Details</h4>
                    <div class="form-outline w-100">
                        <label class="form-label">Method payment</label>
                        <select class="form-select mb-3" name="Method_Payment">
                            <option value="Chuyển khoản" selected>Chuyển khoản</option>
                            <option value="Trả tiền mặt" selected>Trả tiền mặt</option>
                        </select>
                        <label class="form-label">Delivery address</label>
                        <input id="FoodsOptions" type="text" name="Delivery_Address" class="form-control w-100 mb-3" required/>
                    </div>
                    <div class="d-flex justify-content-end">
                        <button type="submit" class="btn btn-outline-warning w-50 my-3">Order</button>
                    </div>
                </form>

            </ol>
        </div>
        <!-- end list-items -->

    </div>

</div>




<!-- Footer  -->
<div id="footer" class=" pt-3 pb-5 mb-0 position-absolute w-100" style="bottom: 0;">
    <div class="container" style="max-width:1200px ;">
        <div class="logo text-light">ABC Delivery</div>
        <div class="d-flex justify-content-center fs-2">
            <div class="ti-youtube px-2"></div>
            <div class="ti-instagram px-2"></div>
            <div class="ti-twitter-alt px-2"></div>
            <div class="ti-pinterest px-2"></div>
        </div>
    </div>
</div>