<div id="header" class="position-fixed top-0 w-100 bg-light">
    <div class="container d-flex justify-content-end" style="max-width:1200px ;">
        <!-- nav bar -->
        <nav class="navbar navbar-expand-lg hei-88">
            <div class="container-fluid px-0">
                <ul class="navbar-nav fw-bold">
                    <li class="nav-item dropdown mx-4">
                        <a class="nav-link dropdown-toggle " href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Trở thành đối tác của ABC
                        </a>
                        <ul class="dropdown-menu" style="min-width: 300px;">
                            <li><a class="dropdown-item fw-bold py-3" href="/driver/signup">Đăng ký làm tài xế</a></li>
                            <li><a class="dropdown-item fw-bold py-3" href="/partner/signup">Đăng ký nhà hàng</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Trung tâm hỗ trợ</a>
                    </li>
                    
                </ul>
            </div>
        </nav>
    </div>
</div>

<img src="/img/imgtest3.jpeg" alt="" style="
        width: 100%; 
         
        z-index: 0;
        object-fit: cover;
        
        ">
<div class="text-white" style="
    position: absolute;
    top: 200px;
    left: 200px;
    width: 400px;
    
">
    <h1 style="font-weight: 700;
    font-size: 3.1em;
    margin-bottom: 10px;
    line-height: 1;
    text-shadow: 0 1px 2px rgb(0 0 0 / 60%);">ABC Food</h1>
    <p style="text-shadow: 0 1px 2px rgb(0 0 0 / 60%);
    font-size: 1.2em;
    line-height: 1.3;">Thèm món gì - Giao món đó!</p>
    <div class="" style="margin-bottom: 20px;
    margin-top: 60px">
        <a href="/client" type="button" class="btn btn-lg btn-success fw-bold px-4">Đặt hàng ngay</a>
    </div>
    <p style="text-shadow: 0 1px 2px rgb(0 0 0 / 60%);
    font-size: 1.2em;
    line-height: 1.3;
    ">
        Bạn muốn trở thành đối tác nhà hàng của ABC Delivery?
        <a href="/partner/signup" style="color: #1aa6f6;
    outline: none;     
    text-decoration: none;">Ấn vào đây</a>
    </p>

</div>

<div class="container text-center  flex-column align-items-center" style="height:700px; max-width:1200px ;">
    <h2 style="    font-weight: 700;
    font-size: 2.571em;
    color: #198754;
    text-align: center;
    margin-top:50px;
    margin-bottom:50px">
        Mang đến cho bạn món ăn ưa thích, nóng hổi và ngon lành
    </h2>
    <div class="row w-100 justify-content-center">
            <p class="w-75">Nhanh chóng xoa dịu cơn thèm ăn của bạn với những món ngon yêu 
        thích và dịch vụ giao hàng “thần tốc”. ABC hiện đang được 
        thử nghiệm tại các quận sau tại TP.HCM: Quận 1, Quận 3, Quận 4, 
        Quận 5, Quận 7, Quận 10, Phú Nhuận, Gò Vấp, Bình Thạnh và Tân 
        Bình. Chúng tôi sẽ mở rộng thêm nhiều khu vực trong thời gian tới!</p>
    </div>
    
</div>


<!-- Footer  -->
<div id="footer" class=" pt-3 pb-5 mb-0 position-relative">
    <div class="container" style="max-width:1200px ;">
        <div class="logo text-light">ABC Delivery</div>
        <div class="d-flex justify-content-center fs-2">
            <div class="ti-youtube px-2"></div>
            <div class="ti-instagram px-2"></div>
            <div class="ti-twitter-alt px-2"></div>
            <div class="ti-pinterest px-2"></div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>