{{!-- Header --}}
<div id="header" class="position-fixed top-0 w-100 bg-light">
    <div class="container" style="max-width:1200px ;">
        <!-- nav bar -->
        <nav class="navbar navbar-expand-lg hei-88">
            <div class="container-fluid px-0">
                <a class="navbar-brand logo  py-0" href="/">ABC Delivery</a>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <!-- <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="#">Home</a>
                            </li> -->

                    </ul>
                    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                        
                        <button class="btn btn-outline-success ti-shopping-cart" type="submit"></button>
                        <a class="btn btn-outline-success" type="submit" href="#">Login/ Sign up</a>
                    </div>

                </div>
            </div>
        </nav>
    </div>
</div>
{{!-- end header --}}
<div class="container d-flex justify-content-center" style="margin-top: 88px;">
    <div class="col-11 d-flex justify-content-center">
        <div class="col-5 mt-5 mb-5 p-5 box-shadow">
            <!-- Pills navs -->
            <div class="btn-group col-12 mb-4" role="group" aria-label="Basic radio toggle button group">
                <input type="radio" class="btn-check " name="btnradio" id="btnradio1" autocomplete="off" checked>
                <label style="z-index:0;" class="btn btn-outline-success" for="btnradio1"
                    onclick="handleLogin()">Login</label>

                <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
                <label style="z-index:0;" class="btn btn-outline-success" for="btnradio2" onclick="handleSignUp()">Sign
                    Up</label>
            </div>
            <!-- Pills navs -->

            <!-- Pills content -->
            <div class="tab-content">
                <!-- Đăng nhập -->
                <div class="tab-pane fade  show active" id="pills-login" role="tabpanel" aria-labelledby="tab-login">
                    <form method="post" action="/client/login">
                        <!-- Email input -->
                        <div class="form-outline mb-4">
                            <label class="form-label" for="loginName">Email</label>
                            <input type="text" name="username"   class="form-control" />
                        </div>

                        <!-- Password input -->
                        <div class="form-outline mb-4">
                            <label class="form-label" for="loginPassword">Password</label>
                            <input type="password" name="password" class="form-control" />
                        </div>

                        <!-- 2 column grid layout -->
                        <div class="row mb-4">
                            <div class="col-md-6 d-flex justify-content-start">
                                <!-- Checkbox -->
                                <div class="form-check mb-3 mb-md-0">
                                    <input class="form-check-input" type="checkbox" value="" id="loginCheck" checked />
                                    <label class="form-check-label" for="loginCheck"> Remember me </label>
                                </div>
                            </div>

                            <div class="col-md-6 d-flex justify-content-end">
                                <!-- Simple link -->
                                <a href="#!" class="a-color">Forgot password?</a>
                            </div>
                        </div>

                        <!-- Submit button -->
                        <button type="submit" class="btn btn-outline-success btn-block mb-4 w-100"
                        name="submitButton" value="login">Login</button>

                        <!-- Register buttons -->
                        <div class="text-center">
                            <p class="mb-0">Not a member? <a href="#!" class="a-color">Sign up</a></p>
                        </div>
                    </form>
                </div>
                <!-- Đăng ký -->
                <div class="tab-pane fade show " id="pills-register" role="tabpanel" aria-labelledby="tab-register">
                    <form method="post" action="/client/login">
                        <!-- Name input -->
                        <div class="form-outline mb-4">
                            <label class="form-label" for="registerName">Full name</label>
                            <input type="text" id="registerName" name="fullName" class="form-control" 
                            />
                        </div>

                          <!-- Email input -->
                        <div class="form-outline mb-4">
                            <label class="form-label" for="registerEmail">Email</label>
                            <input type="text" id="registerEmail" class="form-control" 
                            name="username"/>
                        </div>

                          <!-- Phone input -->
                        <div class="form-outline mb-4">
                            <label class="form-label" for="registerPhone">Phone</label>
                            <input type="text" id="registerPhone" name="phone" class="form-control" />
                        </div>

                          <!--  address -->
                        <div class="form-outline mb-4">
                            <label class="form-label" for="registerAddress">Address</label>
                            <input type="text" id="registerAddress" name="address" class="form-control" />
                        </div>

                        <!-- Password input -->
                        <div class="form-outline mb-4">
                            <label class="form-label" for="registerPassword">Password</label>
                            <input type="password" id="registerPassword" class="form-control" 
                            name="password"/>
                        </div>

                        <!-- Checkbox -->
                        <div class="form-check d-flex justify-content-center mb-4">
                            <input class="form-check-input me-2" type="checkbox" value="" id="registerCheck" checked
                                aria-describedby="registerCheckHelpText" />
                            <label class="form-check-label" for="registerCheck">
                                I have read and agree to the terms
                            </label>
                        </div>

                        <!-- Submit button -->
                        <button type="submit" class="btn btn-outline-success btn-block w-100"
                        name="submitButton" value="signUp">Sign up</button>

                    </form>
                </div>
            </div>
            <!-- Pills content -->
        </div>
    </div>
</div>

<!-- Footer  -->
<div id="footer" class=" pt-3 pb-5 mb-0 position-relative">
    <div class="container" style="max-width:1200px ;">
        <div class="logo text-light">ABC Delivery</div>
        <div class="d-flex justify-content-center fs-2">
            <div class="ti-youtube px-2"></div>
            <div class="ti-instagram px-2"></div>
            <div class="ti-twitter-alt px-2"></div>
            <div class="ti-pinterest px-2"></div>
        </div>
    </div>
</div>